.claude/settings.local.json

# file too large for github. it will be created automatically by ungzipping the *.gz file
data/clinvar_alleles.tsv

# Python
__pycache__/
*.pyc

# macOS
.DS_Store
.coverage
